ADMS/ADMS.csproj.user
ADMS/Agenda/ftb.imagegallery.aspx
AmorPraBicho.v11.suo
Site/bin/
Site/obj/
Site/Site.csproj.user
Actio.Negocio/bin/
Actio.Negocio/obj
ADMS/bin
ADMS/obj
ADMS/App_Themes/ActioAdms/hd/banner_loja/
ADMS/App_Themes/ActioAdms/hd/produtos/icones/
ADMS/Properties/PublishProfiles/
Site/Properties/PublishProfiles/
