<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost; Database=amorprabicho_adms;User ID=root;Password=rafa2013; pooling=false"/>
  </connectionStrings>
  <appSettings>
    <add key="CaminhoADMS" value="http://localhost:4966/"/>
    <add key="CodigoCategoriaCachorro" value="17" />
    <add key="CodigoCategoriaGato" value="18" />
    <add key="CodigoCategoriaPassaro" value="19" />
    <add key="CodigoCategoriaRoedor" value="20" />
    <add key="CodigoCategoriaPeixe" value="21" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages theme="Padrao"></pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
