#divHeader {
    background-image: url('Imagens/testeira-topo.png');
    background-repeat: repeat-x;
    height: 235px;
}

#divHeaderInterna {
    height: 190px;
    top: 45px;
    position: relative;
    margin: 0 auto;
    width: 865px;
}

#divHeaderBotoes {
    margin-top: -68px;
    text-align: center;
}

#divHeaderRedesSociais {
    width: 435px;
    position: relative;
    top: -105px;
    left: 225px;
}

    #divHeaderRedesSociais img {
        vertical-align: text-bottom;
    }

#divHeaderBusca {
    background-image: url('Imagens/busca.png');
    height: 36px;
    width: 468px;
    position: relative;
    top: -77px;
    left: 221px;
}

#imgCarrinhoHeader {
    float: right;
}

#divFooter {
    background-image: url('Imagens/cor-fim-da-pagina.png');
    background-repeat: repeat-x;
    height: 257px;
}

#divFooterTesteira {
    background-image: url('Imagens/testeira-fim-da-pagina.png');
    background-repeat: repeat-x;
    height: 51px;
    position: relative;
    top: -7px;
}

#divFooterInterna {
    height: 170px;
    margin: 0 auto;
    width: 1040px;
    color: white;
    position: relative;
    top: 15px;
}

    #divFooterInterna div {
        float: left;
        width: 185px;
        padding: 10px;
    }

    #divFooterInterna li {
        padding: 2px;
    }

#divPagina {
    
    padding-bottom: 50px;
    width: 920px;
    margin: 0 auto;
}

#divQualidades {
    width: 830px;
    margin: 0 auto;
    text-align: center;
}

    #divQualidades img {
        padding: 0px 30px 0px 30px;
    }

#produtoTopo {
    width: 865px;
    height: 500px;
    padding: 50px 5px 0 5px;
    margin: auto;
    border-bottom: solid 2px #ECECEC;
}

#produtoImagens {
    width: 50%;
    height: 100%;
    float: left;
}

#produtoInformacoes {
    width: 50%;
    height: 100%;
    float: right;
}

#produtoNome {
    font-family: Roboto;
    font-size: 19pt;
    padding-bottom: 10px;
    border-bottom: solid 2px #ECECEC;
    text-align: left;
    text-transform:uppercase;
}

#produtoEstrelas {
    height: 20px;
}

#produtoResumo {
    font-family: Roboto;
    font-size: 11pt;
    margin-top: 10px;
    padding-bottom: 5px;
    text-align: justify;
}

#produtoVejaMais {
    font-family: Roboto;
    font-size: 12pt;
    color: #36A9E1;
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: solid 2px #ECECEC;
    text-align: justify;
}

#produtoPrecoComprarContainer {
    font-family: Roboto;
    font-size: 11pt;
    margin-top: 40px;
    padding-bottom: 100px;
    border-bottom: solid 2px #ECECEC;
}

#produtoPreco {
    width: 50%;
    float: left;
}

.produtoPreco2 {
    font-size:22pt;
    font-weight:900;
}

#produtoComprar {
    width: 50%;
    float: right;
}

#produtoFretePrazoContainer {
    font-family:Roboto;
    font-size:11pt;
    margin-top:30px;
}

#produtoFretePrazoResultado {
    margin-top:10px;
}

.fretePrazoTxt {
    font-size:8pt;
    width: 75px;
    height: 12px;
    padding-left:10px;
    background-image: url('Imagens/campo-cep.png');
    background-repeat:no-repeat;
    background-position: left;
}

.prazoEntregaResultado {
    color: #36A9E1;
    font-size: 12pt;
    font-weight:bold;
}

.cepDigitado {
    font-weight:bold;
}

#produtoPrazoEntregaContainer {
    font-weight:bold;
}

#produtoValorFreteContainer {
    margin-top:5px;
}

#linkPesquisarOutroCEP {
    color: #36A9E1;
}

#produtoMeio {
    width: 865px;
    height: 500px;
    padding-top: 10px;
    margin: auto;
}

#produtoDescricao {
    width:50%;
    float:left;
}

#produtoComentariosFacebook {
    width:48%;
    float:right;
    padding-left: 15px;
}

#abaDescricao {
    background-color: #ECECEC;
    font-family: Roboto;
    font-size: 14pt;
    font-weight:500;
    text-transform:uppercase;
    height:30px;
    width: 120px;
    margin-left: 20px;
    text-align:center;
}

.valignCenter {
    vertical-align:middle;
    display:inline-block;
}

#conteudoDescricao {
    padding: 20px 10px 20px 10px;
    border: solid 2px #ECECEC;
    text-align:justify;
}

#tituloSugerimos {
    font-family: Roboto;
    font-size: 19pt;
    margin-left:20px;
}

.bordaPontilhada {
    border: dotted 2px #ECECEC;
    width: 800px;
}
