/********************************
 * generic als elements styling
 ********************************/
.als-container {
    position: relative;
    width: 100%;
    margin: 0px auto;

    /*henrique*/
    height: 270px;
    margin-top: 30px;
}

.als-viewport {
    position: relative;
    overflow: hidden;
    margin: 0px auto;

    /*henrique*/
    height: 270px;
    float:left;
    margin-left:30px;
}

.als-wrapper {
    position: relative;
    list-style: none;
}

.als-item {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
}

.als-prev, .als-next {
    position: absolute;
    cursor: pointer;
    clear: both;

    /*henrique*/ 
    width: 31px;
    margin-top: 70px;
}
